.cor-primaria{
    background: $cor-primaria;
}

.cor-segundaria{
    background: $cor-segundaria;
}

#form-busca input{
    background: $cor-segundaria;
    border: none;
    color: white;
    font-weight: 800;  
    margin-top: 15px;
    margin-bottom: 0;
    &::placeholder{
        color: white;
    }
}

#menu ul{
    text-align: center;
    margin-bottom: 0;
    li{
        display: inline-block;
        a{
            display: block;
            padding: 10px 30px;
            color: #ffff;
            font-weight: bold;
            &:hover{ 
                text-decoration: none;
            }
        }
    }
}

.btn-collapse-menu{
    font-size: 1.8rem;
    color: #ffff;
    margin-top: 10px;
    float: right;
    cursor: pointer;
    display: none;
}

footer{
    background: $cor-primaria;
    color: #ffff;
    padding: 10px;
}

//768 tablet 
//992 desktop

@media(max-width:768px){

    body{
        margin-top: 90px;
    }


    .barra-fixa{
        position: fixed;
        z-index: 9;
        top: 0;
        width: 100%;
    }

    .btn-collapse-menu{
        display: block;
    }

    .collapse-menu{
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        z-index: 99999;
        width: 250px;
        background: #ffff;
        box-shadow: 0 2px 5px #0000;
        transition: 400MS ease-in-out;
    }

    .collapse-menu-hide{
        left: -255px;
    }

    #menu ul{
        text-align: left;
        margin-top: 30;
        font-size: 1.5rem;
        padding: 0;
        li{
            display: block;
            a{
                display: block;
                padding: 10px 30px;
                color: $cor-primaria;
                font-weight: bold;
                &:hover{ 
                    text-decoration: none;
                }
            }
        }
    }

}